td > img {
	height: 90px;
	width: 90px;
	border-radius: var(--border-radius);
}

.bg-home {
	background-image: url(../assets/images/football-bg.jpeg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
